
.background-title{
    background-image: url("../images/t-screen-o4.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    position: relative;
}
.title-content{
    position: absolute;
    top: 40px;
    right: 20px;
    color: maroon;
}
.title-btn{
    position: absolute;
    top: 200px;
    right: 20px;
}

.background-menu{
    background-image: url("../images/options-screen.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    position: relative;
}
.go-back{
    position: absolute;
    top: 75px;
    right: 30px;
}
 
h1{
    font-family: 'Pirata One', cursive;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #FF0000;
    
}
h2{
    color: white;
    font-family: 'Pirata One', cursive;
}
h3{
    font-family: 'Pirata One', cursive;

}
.modal-title{
    font-family: 'Pirata One', cursive;
    font-size: x-large;
}
#qL{
    font-family: 'Righteous', cursive;
    color: #ff9900;
    text-shadow: 2px 2px 8px #FF0000;
}
.modal-body{
    font-family: 'Pirata One', cursive;
    font-size: x-large;
}

.background-win{
    background-image: url(../images/win-screen.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
}
.background-lose{
    background-image: url(../images/one-eyed-willy.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.background-game-screen{
    background-image: url(../images/game-screen-o3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top center;
}

.cannonText{
    font-family: 'Pirata One', cursive;
    font-size: x-large;
    letter-spacing: 5px;
    color: white;
}

#dyn1{
    height: 5rem;
    border-radius: 10px;
}

#dyn2{
    height: 5rem;
    border-radius: 10px;
}
#dyn3{
    height: 5rem;
    border-radius: 10px;
}
#dyn4{
    height: 5rem;
    border-radius: 10px;
}
#dyn5{
    height: 5rem;
    border-radius: 10px;
}
.losing-screen-text{
    font-family: 'Pirata One', cursive;
    font-weight: bolder;
    letter-spacing: 5px;
    color: black;
    text-shadow: 2px 2px 8px #FF0000;
}
.maroon{
    color: maroon;
}
.gameOverSize{
    font-size: 8rem;
}
