.background-title{
    background-image: url("../images/Pirate-Theme-option2.jpeg");
    background-size: cover;
    height: 100vh;
}

.background-menu{
    background-image: url("../images/Pirate-theme-option4.jpg");
    background-size: cover;
    height: 100vh;
}

h1{
    color: white;
}
h2{
    color: white;
}

.background-over{
    background-image: url(../images/pirate-theme-option3.jpg);
    background-size: cover;
    height: 100vh;
}
